.app-load {
  position: relative;
  z-index: 10;

  width: 100%;
  padding-top: 65px;

  background: $intro-bg;

  @media (min-width: $tablet) {
    padding-top: 110px;
  }
}

.app-load__inner {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;

  @include container;
}

.app-load__vendor-block {
  width: 100%;
  margin-top: auto;
  padding-top: 390px;

  background-color: $intro-bg;

  @media (min-width: $tablet) {
    width: 300px;
    margin: 0;
    padding: 100px 0;

    background: none;
  }

  @media (min-width: $desktop) {
    padding: 120px 0;
  }
}

.app-load__title {
  display: none;
  margin: 0;

  font: 200 40px/0.8 "OpenSans", sans-serif;
  font-style: normal;
  text-align: center;

  color: #fff;

  @media (min-width: $tablet) {
    display: block;

    font-size: 50px;
  }
}

.app-load__main-btn {
  display: block;
  width: 100%;
  margin-top: 30px;
  padding: 15px 0;

  font: 700 18px/18px "OpenSans", sans-serif;
  text-align: center;
  text-decoration: none;

  color: #fff;
  border: 3px solid #fff;
  border-radius: 20px;

  @media (min-width: $tablet) {
    margin-top: 40px;

    font-size: 21px;
  }

  @media (min-width: $desktop) {
    margin-top: 70px;
  }
}

.app-load__list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0 20px;

  list-style: none;
}

.app-load__item {
  display: inline-block;
  padding-top: 40px;

  @media (min-width: $tablet) {
    padding-top: 60px;
  }

  @media (min-width: $desktop) {
    padding-top: 80px;
  }
}

.app-load__link {
  display: block;
  width: 50px;
  height: 50px;

  font-size: 0px;
  text-decoration: none;

  background: olive;
}

.app-load__brief {
  margin: 0;
  padding: 20px 0;

  font: 200 14px/24px "OpenSans", sans-serif;
  font-style: normal;
  text-align: center;

  color: #fff;

  @media (min-width: $tablet) {
    padding-top: 30px;

    font-size: 18px;
  }

  @media (min-width: $desktop) {
    padding-top: 60px;
  }
}
