*, *::before, *::after {
  border-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 30px;
  font-family: "OpenSans", Arial, sans-serif;
  font-style: normal;
  color: #283645;

  background-color: $body-bg;
}
