.contacts {

}

.contacts__title {
  min-height: 100px;
  margin: 0;

  text-align: center;
  outline: 1px solid red;

  @media (min-width: $tablet) {
    min-height: 140px;
    padding-top: 70px;
  }

  @media (min-width: $desktop) {
    min-height: 185px;
    padding-top: 70px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 70px;

  list-style: none;

  @media (min-width: $desktop) {
    flex-wrap: nowrap;
  }
}

.contacts__item:nth-child(2) {
    @media (min-width: $desktop) {
      order: 1;
    }
}
