.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__title {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 30px;

  font: 200 24px "OpenSans", sans-serif;
  text-align: center;

  @media (min-width: $tablet) {
    width: 380px;
    padding: 30px 0;

    font-size: 40px;
  }

  @media (min-width: $desktop) {
    width: 480px;
    padding: 90px 0 45px 0;

    font-size: 50px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media (min-width: $desktop) {
    // justify-content: space-between;
  }
}

.contacts__item:nth-child(2) {
    @media (min-width: $desktop) {
      order: 1;
    }
}

.contacts__item {
  padding-bottom: 20px;

  font: bold 18px "OpenSans", sans-serif;
  text-align: center;

  @media (min-width: $tablet) {
    padding-bottom: 50px;
  }
}

.contacts__item:last-child {
  padding-bottom: 35px;

  @media (min-width: $tablet) {
    padding-bottom: 20px;
  }
}

.contacts__link {
  margin: 0;
}

.contacts__link-item {
  display: block;

  font-size: 24px;
  font-weight: 200;
  text-decoration: none;
  color: $pink-color;

  @media (min-width: $desktop) {
    padding-top: 20px;
  }
}
