.form-intro {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -65px;
  min-height: 240px;

  background: $intro-bg;

  @media (min-width: $tablet) {
    margin-top: -110px;
    min-height: 440px;
  }

  @media (min-width: $desktop) {
    min-height: 395px;
  }
}

.form-intro__inner {
  @include container;
}

.form-intro__title {
  margin: 0;
  padding-top: 65px;

  font: 200 24px "OpenSans", sans-serif;
  text-align: center;
  color: #fff;

  @media (min-width: $tablet) {
    padding-top: 110px;

    font-size: 50px;
  }
}
