.form {

}

.form__inner {
  position: relative;

  @include container;
}

.form__title {
  margin: 0;
  padding: 45px 0 16px 0;

  font: normal 14px/30px "OpenSans", sans-serif;
  text-align: center;

  @media (min-width: $tablet) {
    width: 500px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 12px;

    font-size: 18px;
  }

  @media (min-width: $desktop) {
    width: 800px;
    padding-bottom: 35px;
  }
}

.form__title-hidden {
  display: none;

  @media (min-width: $tablet) {
    display: inline;
  }
}

// form - common styles
.form__list input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  border: 2px solid $gray-light;

  &::-webkit-input-placeholder {
    color: $blue-color;
   }

   &::-moz-placeholder {
    color: $blue-color;
   }

   &:-ms-input-placeholder {
    color: $blue-color;
   }
}

.form__list {
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    @include container;
  }
}

.form__item {
  width: 100%;

  font: normal 14px/30px "OpenSans", sans-serif;

  color: $blue-color;

  @media (min-width: $tablet) {
    margin-bottom: 18px;
  }
}

// gray background on mobile
.form__item:nth-child(2n) {
  background: $gray-bg;

  @media (min-width: $tablet) {
    background: none;
  }
}

.form__item:first-child {
  @media (min-width: $desktop) {
    width: 470px;
  }
}

.form__item:first-child .from__inner {
  @media (min-width: $desktop) {
    width: 470px;
    margin: 0;
  }
}

.form__item:nth-child(2) {
  @media (min-width: $tablet) {
    order: 3;
    margin-top: -20px;
    margin-bottom: 72px;
  }
}

.form__item:nth-child(3) {
  @media (min-width: $tablet) {
    order: 2;
  }
}

.form__item:nth-child(4) {
  @media (min-width: $tablet) {
    order: 1;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop) {
    width: 470px;
    margin-bottom: 35px;
    padding-left: 35px;
  }
}

.form__item:nth-child(4) .form__inner {
  @media (min-width: $desktop) {
    width: 435px;
    margin: 0;
  }
}

.form__item:nth-child(5) {
  @media (min-width: $tablet) {
    order: 4;
  }
}

// text block (FIO)
.form__text {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  padding-bottom: 45px;

  list-style: none;

  @media (min-width: $desktop) {
    width: 435px;
  }
}

.form__block {
  padding-top: 18px;

  @media (min-width: $tablet) {
    padding-top: 50px;
  }
}

.form__text-block {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.form__text-title {
  padding-left: 20px;

  color: $pink-color;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    padding: 0;
    padding-right: 20px;
  }
}

.form__text-field {
  @media (min-width: $tablet) {
    width: 100%;
  }
}

.form__main-field {
  width: 100%;
  padding: 20px 20px;

  font-size: 18px;
}

// checkbox (progress-block)
.form__item-intro {
  margin: 0;
  padding: 30px 20px 38px 20px;

  text-align: center;
  text-transform: uppercase;
  line-height: 1.5;
  color: $pink-color;

  @media (min-width: $tablet) {
    position: absolute;
    top: -15px;
    left: 50%;

    transform: translate(-50%,0);
    white-space: nowrap;
    padding: 0 35px;

    background: $body-bg;
  }
}

.form__progress-part {
  @media (min-width: $desktop) {
    width: 260px;
    margin-right: -55px;
  }
}

.form__progress-part:nth-child(2) {
  @media (min-width: $desktop) {
    order: 4;
  }
}

.form__progress-part:nth-child(3) {
  @media (min-width: $desktop) {
    order: 2;
  }
}

.form__progress-part:nth-child(4) {
  @media (min-width: $desktop) {
    order: 5;
  }
}

.form__progress-part:nth-child(5) {
  @media (min-width: $desktop) {
    order: 3;
  }
}

.form__progress-part:nth-child(6) {
  @media (min-width: $desktop) {
    order: 6;
  }
}

.form__progress {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet) {
    padding: 50px 0;
    padding-left: 60px;

    border: 2px solid $gray-light;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 54px 60px 15px 60px;
  }
}

.form__progress-part {
  padding-bottom: 48px;
}

.form__progress-part:last-child {
  @media (min-width: $tablet) {
    padding-bottom: 0;
  }

  @media (min-width: $desktop) {
    padding-bottom: 48px;
  }
}

.form__check {
  display: flex;
  align-items: center;
  width: 100%;

  font-size: 18px;
}

 // square checkbox
.form__checkbox {
  display: none;
  margin-right: 30px;

  &:checked + .form__field-square:after {
   opacity: 1;
  }
}

.form__field-square {
  position: relative;
  padding: 3px 0 0 60px;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 40px;
    height: 40px;

    border: 2px solid $gray-light;
  }

  &:after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;

    width: 16px;
    height: 16px;

    border-radius: 100%;
    background: red;
    opacity: 0;
    transition: .3s ease;
  }
}

// phone/mail block
.form__contacts {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 55px;

  list-style: none;

  @media (min-width: $tablet) {
    padding: 45px 60px 35px 60px;
    margin-bottom: 65px;

    border: 2px solid $gray-light;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 60px 5px 60px;
  }
}

.form__contacts .form__block {
  padding-top: 8px;
}

.form__item:nth-child(3) .form__item-intro {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}

.form__contacts .form__block {
  @media (min-width: $tablet) {
    padding: 0;
  }

  @media (min-width: $desktop) {
    width: 375px;
  }
}

.form__contacts .form__block:first-child {
  @media (min-width: $tablet) {
    padding-bottom: 18px;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.form__contacts .form__text-block {
  flex-direction: column;
  align-items: flex-start;
}

.form__contacts .form__text-title {
  order: 2;
  padding-left: 20px;
  padding-top: 10px;
}

.form__contacts .form__main-field {
  padding-right: 50px;
}

.form__contacts .form__text-field {
  position: relative;

  @media (min-width: $tablet) {
    &:after {
      content: "";
      position: absolute;
      top: 20px;
      right: 20px;

      width: 26px;
      height: 26px;

      background: olive;
    }
  }
}

// checkbox (app - block)
.form-item:nth-child(4) .form__inner {
  @media (min-width: $desktop) {
    width: 435px;
    margin: 0;
  }
}

.form__travelapp {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet) {
    padding: 50px 60px 36px 60px;

    border: 2px solid $gray-light;
  }

  @media (min-width: $desktop) {
    padding-left: 70px;
  }
}

.form__travelapp-block {
  padding-bottom: 35px;
}

// radio buttons
.form__radio {
  display: none;

  margin-right: 30px;

  &:checked + .form__field-name:after {

    opacity: 1;
  }
}

.form__field-name {
  position: relative;

  padding: 3px 0 0 60px;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 40px;
    height: 40px;

    border: 2px solid $gray-light;
    border-radius: 100%;
    cursor: pointer;
  }

  &:after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;

    width: 16px;
    height: 16px;

    border-radius: 100%;
    background: red;
    opacity: 0;
    transition: .3s ease;
  }
}

// comment block
.form__textarea-wrapper {
  @media (min-width: $tablet) {
    padding: 45px 60px;

    border: 2px solid $gray-light;
  }
}

.form__textarea-wrapper .form__item-intro {
  padding: 72px 0 12px 0;

  @media (min-width: $tablet) {
    padding: 0 35px;
  }
}

.form__textarea {
  display: block;
  width: 280px;
  height: 200px;
  padding: 10px;

  font-size: 18px;

  @media (min-width: $tablet) {
    width: 500px;
    height: 195px;
  }

  @media (min-width: $desktop) {
    width: 820px;
    height: 125px;
    margin: 0;
  }
}

.form__submit-wrapper {
  padding-top: 10px;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0 30px 0;
  }

  @media (min-width: $desktop) {
    padding: 60px 0 15px 0;
  }
}

.form__submit {
  width: 100%;
  margin: 55px 0 20px 0;
  padding: 15px 0;

  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;

  background: $green-btn;
  color: $body-bg;
  border: 1px solid $green-btn;
  border-radius: 3px;

  @media (min-width: $tablet) {
    width: 300px;
    margin: 0;
  }
}

.form__submit-words {
  display: none;

  @media (min-width: $desktop) {
    display: inline;
  }
}

.form__required {
text-transform: uppercase;
  text-align: center;
}

.form__required span:first-child {
  color: $pink-color;
}
