.page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  z-index: 200;
  background: $header-bg;

  body.menu-open & {
    background: $intro-bg;
  }

  @media (min-width: $tablet) {
    height: 110px;
  }

  @media (min-width: $desktop) {
    body.menu-open & {
      background: $header-bg;
    }
  }
}

.page-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  @include container;
}

.page-header__logo {
  z-index: 200;
  margin: 0;
}

.page-header__logo-link {
  &:hover {
    .page-header__logo-svg {
      .text path, .glass path {
        fill: $pink-color;
      }
    }
  }
  &:active {
    .page-header__logo-svg {
      .text path, .glass path {
        fill: white;
      }
    }
  }
}

.page-header__logo-svg .star, .glass {
  display: none;
}

.page-header__logo-svg {
  position: relative;
  top:-5px;
  left: -70px;

  &:active {
    opacity: .3;
  }
}

@media (min-width: $tablet) {
  .page-header__logo-svg .glass {
    display: block;
  }

  .page-header__logo-svg {
    position: static;
  }
}

@media (min-width: $desktop) {
  .page-header__logo-svg .star {
    display: block;
  }
}

// trigger
.page-header__trigger {
  z-index: 200;
  width: 50px;
  height: 25px;
  color: transparent;
  cursor: pointer;

  @media (min-width: $desktop) {
    display: none;
  }

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
    transition: all 0.3s ease-in-out;

  }

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
    transition: all 0.3s ease-in-out;
    transform: translate(0, 12px);
  }
}

.page-header__trigger-decor {
  display: block;
  width: 100%;
  height: 4px;
  background-color: white;
  transform: translate(0, 6px);
  transition: all 0.3s ease-in-out;

  body.menu-open & {
    background: white;
    opacity: 0;
    transform: rotate(180deg);
    transform: translate(100%, 0);
  }
  // body.menu-open &:active {
  //   opacity: 0;
  // }
}

.menu-open .page-header__trigger {
  &:before {
    width: 23px;
    background: white;
    transform: translate(30px, 10px) rotate(45deg);
  }

  &:after {
    width: 23px;
    background: white;
    transform: translate(30px, 2px) rotate(-45deg);
  }
}

.page-header__trigger {
  &:hover {
    .page-header__trigger-decor,
    &:before,
    &:after {
      background-color: $pink-color;
    }
  }

  &:active {
    .page-header__trigger-decor,
    &:before,
    &:after {
      opacity: .3;
    }
  }
}
