.page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  z-index: 200;

  display: flex;

  background: $header-bg;

  body.menu-open & {
    background: $intro-bg;
  }

  @media (min-width: $tablet) {
    height: 110px;
  }

  @media (min-width: $desktop) {
    body.menu-open & {
      background: $header-bg;
    }
  }
}

.page-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;

  @include container;
}

.page-header__logo {
  z-index: 200;
  width: 150px;
  margin: 0;

  @media (min-width: $tablet) {
    width: 150px;
  }
}

.page-header__trigger-btn {
  // position: absolute;
  // top: 10px;
  // right: 10px;
  z-index: 100;

  width: 50px;
  height: 25px;

  background: white;
  font-size: 0;

  text-decoration: none;

  @media (min-width: $desktop) {
    display: none;
  }
}

// trigger
@mixin user_menu_butt_line {
 position: absolute;
 top: 50%;
 left: 0;
 width: 100%;
 height: .4rem;
 margin-top:-.2rem;
 background: black;
}

.menu_trigger {
 z-index: 210;
 position: absolute;
 top: 50%;
 // right: $gl_indent;
 display: none; // hidden on wide screens
 height: 2.6rem;
 width: 3.8rem;
 margin-top: -1.6rem;
 text-transform: uppercase;

 color: transparent;
 cursor: pointer;

 // @include bp($point_3) {
 //  display: block;// appear on tablets
 // }

 &:before {
  content: '';
  transform: translate(0, -1rem);
  transition: all .3s ease;

  @include user_menu_butt_line;
 }
 &:after {
  content: '';
  transform: translate(0, 1rem);
  transition: all .3s ease;

  @include user_menu_butt_line;
 }
 &.active_mod {
  &:before {
   transform: (rotate(45deg) translate(0, 0));
  }

  &:after {
   transform: (rotate(-45deg) translate(0, 0));
  }
 }
}

.menu_trigger_decor {
 transition: all .3s ease;

 .active_mod & {
  opacity: 0;
  transform: translate(100%, 0);
 }

 @include user_menu_butt_line;
}
