.page-footer {
  position: relative;
  // top: -65px;

  outline: 1px solid red;
}

.page-footer__inner {
  @include container;
}

.page-footer__map {
  position: relative;

  display: block;
  width: 100%;
  height: 200px;

  overflow: hidden;
  background: $gray-bg;
  @media (min-width: $tablet) {
    height: 370px;
  }

  @media (min-width: $desktop) {

  }
}
