.photo-intro {
  position: relative;
  top: -65px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 240px;

  background: $intro-bg;

  @media (min-width: $tablet) {
    top: -110px;
    min-height: 440px;
  }

  @media (min-width: $desktop) {
    min-height: 395px;
  }
}

.photo-intro__inner {
  @include container;
}

.photo-intro__title {
  margin: 0;

  font: 200 24px "OpenSans", sans-serif;
  text-align: center;
  color: #fff;

  @media (min-width: $tablet) {
    font-size: 50px;
  }

  @media (min-width: $desktop) {
    width: 370px;
    margin: 0 auto;
  }
}
