.promo {
  position: relative;
}

.promo__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include container;

  @media (min-width: $tablet) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    align-items: flex-end;
  }
}

// block title
.promo__title {
  margin: 0;
  padding: 40px 0 0;
  font: 200 24px "OpenSans", sans-serif;
  font-style: normal;
  text-align: center;

  @media (min-width: $tablet) {
    margin: 0 auto;
    padding-top: 50px;
    font-size: 40px;
  }

  @media (min-width: $desktop) {
    padding: 68px 0 20px;
    font-size: 50px;
  }
}

.promo__half-title {
  display: block;
  padding-bottom: 20px;

  @media (min-width: $tablet) {
    padding: 0;
  }
}

.promo__half-title:last-child {
  padding: 0 0 30px;

  @media (min-width: $tablet) {
    width: 350px;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    width: 440px;
  }
}

// block content - 3 items
.promo__wrapper {
  background: url(../img/bg-triangle-white.svg) center top no-repeat $gray-bg;
  background-size: 100% auto;
}

.promo__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 10px 0;
  padding: 80px 0 0 0;
  list-style: none;

  @media (min-width: $tablet) {
    width: 320px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
  }
}

.promo__item {
  position: relative;
  padding-bottom: 40px;
  text-align: center;

  @media (min-width: $tablet) {
    text-align: left;
    padding-left: 10px;
  }

  @media (min-width: $desktop) {
    display: block;
    width: 265px;
    padding-top: 370px;
    text-align: center;
  }
}

// content title
.promo__item-title {
  padding-bottom: 20px;
  font: 700 18px/10px "OpenSans", sans-serif;

  @media (min-width: $desktop) {
    font-size: 30px;
    line-height: 30px;
  }
}

// blocks content
.promo__item-content {
  font: 400 14px/24px "OpenSans", sans-serif;

  @media (min-width: $desktop) {
    font-size: 18px;
    line-height: 30px;
  }
}

// iPhone picture on mobile&tablet
.promo__img-wrapper {
  position: relative;
  display: block;
  width: 160px;
  height: 285px;
  overflow: hidden;

  @media (min-width: $tablet) {
    width: 270px;
    height: 485px;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.promo__mobile-img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -44%);

  @media (min-width: $tablet) {
    transform: translate(-50%, -50%);
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.promo__main-img {
  display: none;
}

// desktop
@media (min-width: $desktop) {
  .promo__main-img {
    position: absolute;
    top: 8px;
    left: 0;
    display: block;
    width: 265px;
    height: 300px;
  }

  .promo__item:first-child {
    padding-left: 20px;
    .promo__main-img {
      left: 18px;
    }
  }

  .promo__item:last-child {
    padding-right: 20px;
    .promo__main-img {
      left: -18px;
    }
  }
}
