.social-links {

  display: none;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 30px 0;
  }

  @media (min-width: $desktop) {
    padding-top: 100px 0 50px 0;
  }
}

.social-links__logo {

}

.social-links__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-links__link {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 12px;

  font-size: 0px;
  text-decoration: none;

  border: 2px solid $gray-bg;
  border-radius: 50%;
  background: olive;
}

.social-links__copyright {
  display: flex;

  font: normal 14px/18px "OpenSans", sans-serif;
  align-items: center;

  @media (min-width: $desktop) {
    font-size: 18px;
  }
}

.social-links__copyright-logo {
  margin-left: 15px;
}
