.social-links {

  display: none;
  min-height: 130px;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop) {
    min-height: 200px;
  }
}

.social-links__logo {

}

.social-links__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-links__item {

}

.social-links__link {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 12px;

  font-size: 0px;
  text-decoration: none;

  border: 2px solid $gray-bg;
  border-radius: 50%;
  background: olive;
}

.social-links__copyright {
  display: flex;

  font: normal 14px/18px "OpenSans", sans-serif;
  align-items: center;
}

.social-links__copyright span {
  padding: 0 15px;
}
