.social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 30px 0;
  }

  @media (min-width: $desktop) {
    padding-top: 100px 0 50px 0;
  }
}

.social-links__logo {
  @media (max-width: $mobile) {
    padding: 35px 0;
  }

  &:hover {
    fill: $pink-color;
  }
}

.social-links__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-links__link {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 12px;
  padding-top: 12px;

  fill: $pink-color;
  font-size: 0px;
  text-decoration: none;
  text-align: center;

  border: 3px solid $gray-light;
  border-radius: 50%;

  &:hover {
    border-color: black;
  }
  &:active {
    opacity: 0.3;
    border-color: $gray-light;
  }
}

.social-links__copyright {
  display: flex;

  font: normal 14px/18px "OpenSans", sans-serif;
  align-items: center;

  @media (max-width: $mobile) {
    padding: 35px 0;
  }

  @media (min-width: $desktop) {
    font-size: 18px;
  }
}

.social-links__copyright-logo {
  margin-left: 15px;
  fill: $pink-color;

  &:hover {
    fill: black;
  }

  &active {
    opacity: 0.3;
  }
}
