$body-bg: #ffffff;
$header-bg: rgba(0, 0, 0, 0.3);
$intro-bg: #1d2631;

$gray-light: #e5e5e5;
$gray-bg: #f2f2f2;
$gray-dark: #b5b9be;

$pink-color: #d22856;
$blue-color :#283645;
$green-btn: #2aab6d;

$mobile: 700px;
$tablet: 700px;
$desktop: 1200px;
