.form-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 65px;
}

// bg for mobile
@media (max-width: $mobile) {
  .form-intro {
    background: url("../img/bg-back-mobile.jpg") 50% 0 no-repeat $intro-bg;
  }
}
@media (max-width: $mobile) and (min-resolution: 144dpi), (max-width: $mobile) and (min-resolution: 1.5dppx) {
  .form-intro {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 700px auto;
  }
}

// bg for tablet
@media (min-width: $tablet) {
  .form-intro {
    padding-top: 110px;
    background: url("../img/bg-back-tablet@1x.jpg") 50% 0 no-repeat $intro-bg;
  }
}
@media (min-width: $tablet) and (min-resolution: 144dpi), (min-width: $tablet) and (min-resolution: 1.5dppx) {
  .form-intro {
    background-image: url("../img/bg-back-tablet@2x.jpg");
    background-size: 1200px auto;
  }
}

// bg for desktop
@media (min-width: $desktop) {
  .form-intro {
    background-image: url("../img/bg-back-desktop.jpg");
  }
}

.form-intro__inner {
  @include container;
}

.form-intro__title {
  margin: 0;
  padding: 30px 0 56px;
  font: 200 24px/1.2 "OpenSans", "Arial", sans-serif;
  text-align: center;
  color: #fff;
  @media (min-width: $tablet) {
    padding: 72px 0;
    font-size: 50px;
  }
  @media (min-width: $desktop) {
    padding: 65px 0 95px;
  }
}
