.intro {
  position: relative;
  display: none;
  @media (min-width: $tablet) {
    display: block;
    padding: 60px 0 85px;
  }
  @media (min-width: $desktop) {
    background: $gray-bg;
    padding: 28px 0 70px;
  }
}

.intro__inner {
  @include container;
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

// picture "Clock"
.intro__img-wrapper {
  position: relative;
  display: block;
  width: 240px;
  height: 280px;
  overflow: hidden;
  // circle
  &:after {
    content: "24";
    position: absolute;
    top: 59px;
    left: 20px;
    display: block;
    width: 200px;
    height: 200px;
    font: bold 120px/186px "OpenSans", "Arial", sans-serif;
    text-align: center;
    color: $pink-color;
    border-radius: 50%;
    box-shadow: inset 0 0 0 14px $pink-color;
    @media (min-width: $desktop) {
      top: 69px;
      left: 23px;
      width: 255px;
      height: 255px;
      line-height: 240px;
      box-shadow: inset 0 0 0 17px $pink-color;
    }
  }
  @media (min-width: $desktop) {
    width: 300px;
    height: 345px;
  }
}

.intro__img {
  @media (min-width: $tablet) {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    fill: #dedede;
    transform: translate(-50%, -50%);
  }
}

// content
.intro__content {
  font: normal 14px/24px "OpenSans", "Arial", sans-serif;
  @media (min-width: $tablet) {
    width: 310px;
  }
  @media (min-width: $desktop) {
    width: 575px;
    font-size: 18px;
    line-height: 30px;
    padding-top: 46px;
  }
}

.intro__title {
  width: 170px;
  margin: 0;
  font: bold 30px/36px "OpenSans", "Arial", sans-serif;
  text-align: left;
  @media (min-width: $desktop) {
    width: 100%;
    line-height: 30px;
  }
}

.intro__title span {
  display: inline-block;
  vertical-align: baseline;
}

.intro__description {
  margin: 0;
  padding: 15px 0 5px;
  @media (min-width: $desktop) {
    padding: 30px 0 30px;
  }
}

.intro__href {
  color: $pink-color;

  &:hover {
    color: $blue-color;
  }

  &:active {
    color: #ced0d2;
  }
}
