.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translate(0,-120%);
  transition: 0.3s ease;

  body.menu-open & {
    transform: translate(0,0);
  }
  @media(min-width: $desktop) {
    position: relative;
    display: block;
    max-width: 650px;
    transform: translate(0,0);
  }
}

.main-nav__list {
  z-index: 120;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 65px 0 0;
  list-style: none;
  @media (min-width: $tablet) {
    padding: 110px 0 0;
  }
  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 640px;
    padding: 0;
  }
}

.main-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
  border-top: 1px solid black;
  box-shadow: inset 0 1px 2px 0 #485461;
  background: $intro-bg;
  @media (min-width: $desktop) {
    width: auto;
    border: none;
    box-shadow: none;
    background: none;
  }
}

.main-nav__item:last-child {
  border-bottom: 1px solid black;
  @media (min-width: $desktop) {
    border: none;
  }
}

.main-nav__link {
  position: relative;
  display: block;
  font: bold 18px/32px "OpenSans", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;

  &:after {
    content: "";
    position: absolute;
    top: 29px;
    left: 0;
    display: none;
    width: 100%;
    height: 2px;
    background-color: white;
    text-align: center;
  }

  &:hover {
    color: $pink-color;
  }

  &:active {
    opacity: 0.3;
  }
}

// for desktop main navigation only
@media (min-width: $desktop) {
  .main-nav__link {
    margin-left: 75px;
    font-weight: normal;
    line-height: 18px;
    text-transform: none;

    &:hover {
      color: white;
      cursor: pointer;
    }

    &:active {
      color: #6b7178;
    }
  }
}

.main-nav__link {
  @media (min-width: $desktop) {
    &:hover {
      &:after {
        display: block;
      }
    }
    &:active {
      &:after {
        display: none;
      }
    }
  }
}

.main-nav__list li:first-child a {
    margin-left: 0;
}

.without-js .main-nav {
  @media (max-width: $desktop) {
    position: static;
    width: 150%;
    padding-top: 260px;
    margin-left: -200px;
    margin-right: -50px;
    transform: translate(0,0);
  }
}
