.page-footer {
  position: relative;
}

.page-footer__inner {
  @include container;
}

.page-footer__map {
  position: relative;
  display: block;
  width: 100%;
  height: 200px;

  &:before {
    content: "";
    z-index: 10;
    position: absolute;
    top: -2px;
    left: 0;
    display: block;
    width: 100%;
    height: 65px;
    background: url("../img/bg-triangle-white-footer.svg") center top no-repeat;
    background-size: 100% auto;
    pointer-events: none;
    @media (min-width: $tablet) {
      height: 110px;
    }
    @media (min-width: $desktop) {
      top: -30px;
      height: 160px;
    }
  }
  @media (min-width: $tablet) {
    height: 380px;
  }
  @media (min-width: $desktop) {
    height: 500px;
  }
}

.page-footer__inner:nth-child(3) {
  display: none;
  @media (min-width: $tablet) {
    display: block;
  }
}

.without-js .page-footer .page-footer__map {
  background: url("../img/bg-map-mobile.png") 50% 50% no-repeat;
  background-size: 100% auto;
  @media (min-width: $tablet) {
    background-image: url("../img/bg-map.png");
  }
}
