.price {
  position: relative;
  padding-top: 90px;
  background: url("../img/bg-triangle-white.svg") center top no-repeat $gray-bg;
  background-size: 100% auto;
  @media (min-width: $desktop) {
    padding-top: 145px;
  }
}

.price__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include container;
}

.price__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
  @media (min-width: $tablet) {
    width: 100%;
    padding-bottom: 65px;
  }
  @media (min-width: $desktop) {
    padding-bottom: 95px;
  }
}

// moving table column
.price__item:first-child {
  display: none;
  @media (min-width: $tablet) {
    display: flex;
    align-items: flex-start;
    width: 155px;
  }
  @media (min-width: $desktop) {
    width: 235px;
  }
}

.price__item:first-child .price__field {
  justify-content: flex-start;
  padding-left: 15px;
  text-transform: none;
}

.price__item:first-child .price__field:first-child {
  display: none;
}

// price table
.price__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 275px;
  @media (min-width: $tablet) {
    width: 155px;
  }
  @media (min-width: $desktop) {
    width: 235px;
  }
}

.price__field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  font: normal 14px/30px "OpenSans", "Arial", sans-serif;
  text-transform: uppercase;
  background: $body-bg;
  border: 1px solid $gray-dark;
  @media (min-width: $tablet) {
    justify-content: center;
    height: 45px;
  }
  @media (min-width: $desktop) {
    height: 60px;
    font-size: 18px;
  }
}

.price__field:first-child {
  flex-direction: column;
  justify-content: center;
  height: 100px;
  color: #fff;
  background-color: $blue-color;
  @media (min-width: $tablet) {
    height: 80px;
  }
  @media (min-width: $desktop) {
    height: 100px;
  }
}

.price__item:nth-child(3) .price__field-header {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    z-index: 10;
    top: -2px;
    left: -2px;
    display: block;
    width: 70px;
    height: 70px;
    background: url("../img/bg-hit.png") center no-repeat;
    background-size: 100% auto;
    overflow: hidden;
    @media (min-width: $tablet) {
      width: 56px;
      height: 56px;
    }
    @media (min-width: $desktop) {
      width: 70px;
      height: 70px;
    }
  }
}

.price__field:last-child {
  border-bottom: 2px solid $gray-dark;
}

.price__item:last-child .price__field {
  border-right: 2px solid $gray-dark;
}

.price__name {
  font: bold 18px/30px "OpenSans", "Arial", sans-serif;
  @media (min-width: $tablet) {
    font-size: 16px;
  }
  @media (min-width: $desktop) {
    font-size: 18px;
  }
}

.price__cost {
  font: 200 24px/30px "OpenSans", "Arial", sans-serif;
  @media (min-width: $tablet) {
    font-size: 18px;
  }
  @media (min-width: $desktop) {
    font-size: 24px;
  }
}

.price__field-name {
  padding-left: 20px;
  @media (min-width: $tablet) {
    display: none;
  }
}

// icons yes/no
.price__marker {
  width: 30px;
  height: 28px;
  margin-right: 15px;
  font-size: 0;
  @media (min-width: $tablet) {
    margin: 0;
  }
}

.price__marker--yes {
  width: 32px;
  height: 22px;
  fill: green;
}

.price__marker--no {
  fill: red;
}

// slider navigation
.price__nav {
  padding: 50px 0;
}

.price__list ~ .slider-nav {
  @media (min-width: $tablet) {
    display: none;
  }
}
