.review {
  position: relative;
}

.review__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include container;
  @media (min-width: $desktop) {
    padding-top: 24px;
  }
}

.review__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  @media (min-width: $desktop) {
    margin-top: -30px;
  }
}

.review__list li:not(:first-child) {
  display: none;
}

.review__item {
  position: relative;
  text-align: center;
  @media (min-width: $desktop) {
    padding-top: 190px;
    padding-bottom: 45px;
  }
}

// slider btn (desktop)
.review__nav--next,
.review__nav--prev {
  @media (min-width: $desktop) {
    content: "";
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
  }

  &:hover {
    border-color: #969da4;
  }

  &:active {
    border-color: #f7f7f8;
  }
}

.review__nav--prev {
  @media (min-width: $desktop) {
    top: 220px;
    left: 8px;
    border-bottom: 2px solid #c2c6ca;
    border-left: 2px solid #c2c6ca;
    border-radius: 2px;
    transform: rotate(45deg);
  }
}

.review__nav--next {
  @media (min-width: $desktop) {
    top: 220px;
    right: 8px;
    border-top: 2px solid #c2c6ca;
    border-right: 2px solid #c2c6ca;
    border-radius: 2px;
    transform: rotate(45deg);
  }
}

// quotes
.review__quotes {
  display: none;
  @media (min-width: $desktop) {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
    fill: #efefef;
  }
}

// comment content
.review__item-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: normal 14px/30px "OpenSans", "Arial", sans-serif;
  @media (min-width: $tablet) {
    flex-direction: column-reverse;
    font-size: 18px;
  }
  @media (min-width: $desktop) {
    width: 680px;
  }
}

.review__author {
  padding-top: 30px;
  font: bold 18px/30px "OpenSans", "Arial", sans-serif;
  @media (min-width: $tablet) {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 20px;
  }
  @media (min-width: $desktop) {
    padding-top: 35px;
    padding-bottom: 0;
    font-size: 24px;
  }
}

.review__author-intro {
  display: none;
  @media (min-width: $tablet) {
    display: block;
    font: normal 14px/30px "OpenSans", "Arial", sans-serif;
  }
  @media (min-width: $desktop) {
    font-size: 18px;
  }
}

.review__content {
  padding-top: 10px;
  padding-bottom: 38px;
  quotes: "\00ab" "\00bb";
  @media (min-width: $tablet) {
    padding: 0;
  }
  @media (min-width: $desktop) {
    quotes: none;
  }
}

.review__content::before {
  content: open-quote;
}

.review__content::after {
  content: close-quote;
}

.review__list ~ .review__nav {
  padding-bottom: 50px;
  @media (min-width: $tablet) {
    padding-bottom: 28px;
  }
  @media (min-width: $desktop) {
    display: none;
  }
}
