.social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 30px;
  }
  @media (min-width: $desktop) {
    padding: 72px 0 50px;

    &--photo {
      padding-top: 100px;
    }

    &--form {
      padding-top: 40px;
    }
  }
}

.social-links__logo {
  &:hover {
    .social-links__svg {
      .social-links__svg-text path {
        fill: $pink-color;
      }
    }
  }

  &:active {
    .social-links__svg {
      opacity: 0.3;
    }
  }
  @media (max-width: $mobile) {
    padding: 58px 0 34px 0;
  }
}

.social-links__svg-star {
  display: none;
  @media (min-width: $desktop) {
    display: block;
  }
}

.social-links__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  @media (min-width: $desktop) {
    margin-left: 20px;
  }
}

.social-links__link {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 12px;
  padding-top: 12px;
  fill: $pink-color;
  font-size: 0;
  text-decoration: none;
  text-align: center;
  border: 3px solid $gray-light;
  border-radius: 50%;

  &:hover {
    border-color: black;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-links__copyright {
  display: flex;
  padding-top: 35px;
  font: normal 14px/18px "OpenSans", "Arial", sans-serif;
  align-items: center;
  @media (max-width: $mobile) {
    padding: 35px 0;
  }
  @media (min-width: $tablet) {
    padding-top: 10px;
  }
  @media (min-width: $desktop) {
    font-size: 18px;
  }
}

.social-links__copyright-logo {
  margin-left: 15px;
  fill: $pink-color;

  &:hover {
    fill: black;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-links--photo .social-links__logo {
  padding: 40px 0 34px 0;
}

.social-links--form {
  .social-links__logo {
    @media (max-width: $mobile) {
      padding-top: 45px;
    }
  }
  @media (min-width: $tablet) {
    padding: 40px 0 30px 0;
  }
}
